footer {
    width: 100vw;
    height: 70px;
    background-color:rgb(231, 219, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer button {
    width: 100px;
    height: 40px;
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0 18px;
    
}