<div class="card">
    <h1>Select your plan</h1>
    <p class="description">You have the option of monthly or yearly billing</p>
    
    <div class="choix">
        <img src="./assets/images/icon-arcade.svg" alt="icon-arcade">
        <p class="prix">Arcade<br>
        $9/mo</p> 
    </div>
    
    <div class="choix">
        <img src="./assets/images/icon-advanced.svg" alt="icon-advanced">
        <p class="prix">Advanced<br>
        $12/mo</p> 
    </div>
    
    <div class="choix">
        <img src="./assets/images/icon-pro.svg" alt="icon-pro">
        <p class="prix">Pro<br>
        $15/mo</p> 
    </div>
    
