.PersonalInfo {
    width: 190px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.title {
    width: 190px;
    height: 110px;
    margin:30px;
}

.title h2 {
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.title p {
    font-size: 18px;
    color: gray;
    margin: 5px 0;
}

form {
    width: 200px;
    height: 200px;
    margin: auto;
}
form div {
    display: flex;
    flex-direction: column;
    margin: 20px;
 }

 form div input {
    width: 290px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid gray;
    color: grey ;
    padding: 5px;
 }